<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">{{user.username}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Email: {{user.email}}</h6>
    <p class="card-text">Date Joined: {{formatDate user.date_joined}}</p>
    <button class="btn btn-dark" id="userHistory" data-user-id="{{user.id}}">Workout History</button>
  </div>
</div>