<div class="bg-light">
<p>Username: {{user.username}} </p>
<p>Email: {{user.email}} </p>
<p>Date Joined: {{formatDate user.date_joined}}</p>
<p>Number of Workouts Logged:</p>
<button class="btn btn-primary" id="userHistory" data-user-id="{{user.id}}">Workout History</button>
</div>