<div class="container">
    <div class="d-flex justify-content-start">
      <div class="input-group flex-nowrap col mx-0">
        <input type="text" class="form-control" id="search" placeholder="Name" aria-label="Exercise Name"
          aria-describedby="addon-wrapping">
      </div>

      <div class="dropdown col mx-0">
        <button class="btn btn-secondary dropdown-toggle" id="difficulty" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Difficulty
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Beginner</a></li>
          <li><a class="dropdown-item" href="#">Intermediate</a></li>
          <li><a class="dropdown-item" href="#">Expert</a></li>
           <li><a class="dropdown-item" href="#">none</a></li>
        </ul>
        
      </div>

      <div class="dropdown col mx-0">
        <button class="btn btn-secondary dropdown-toggle" id="muscle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Muscle
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Abdominals</a></li>
          <li><a class="dropdown-item" href="#">Abductors</a></li>
          <li><a class="dropdown-item" href="#">Adductors</a></li>
          <li><a class="dropdown-item" href="#">Biceps</a></li>
          <li><a class="dropdown-item" href="#">Calves</a></li>
          <li><a class="dropdown-item" href="#">Chest</a></li>
          <li><a class="dropdown-item" href="#">Forearms</a></li>
          <li><a class="dropdown-item" href="#">Glutes</a></li>
          <li><a class="dropdown-item" href="#">Hamstrings</a></li>
          <li><a class="dropdown-item" href="#">Lats</a></li>
          <li><a class="dropdown-item" href="#">Lower Back</a></li>
          <li><a class="dropdown-item" href="#">Middle Back</a></li>
          <li><a class="dropdown-item" href="#">Neck</a></li>
          <li><a class="dropdown-item" href="#">Quadriceps</a></li>
          <li><a class="dropdown-item" href="#">Traps</a></li>
          <li><a class="dropdown-item" href="#">Triceps</a></li>
           <li><a class="dropdown-item" href="#">none</a></li>
        </ul>
         
      </div>


      <div class="dropdown col mx-0">
        <button class="btn btn-secondary dropdown-toggle" id="type" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Type
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Cardio</a></li>
          <li><a class="dropdown-item" href="#">Olympic Weightlifting</a></li>
          <li><a class="dropdown-item" href="#">Plyometrics</a></li>
          <li><a class="dropdown-item" href="#">Strength</a></li>
          <li><a class="dropdown-item" href="#">Powerlifting</a></li>
          <li><a class="dropdown-item" href="#">Stretching</a></li>
          <li><a class="dropdown-item" href="#">Strongman</a></li>
          <li><a class="dropdown-item" href="#">none</a></li>
           </ul>
        
      </div>


      <div class="btn-group col mx-0">
        <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
      </div>

    </div>
    <div class="row" id="chosen-workout">

    </div>
  <div class="row text-center">
    <h2>Your Workout</h2>
  </div>
  <div class="row" id="your-workout">
    
  </div>
  <div class="row">
    <input type="text" class="form-control" id="search" placeholder="Workout Name" aria-label="Exercise Name" aria-describedby="addon-wrapping">
    <button type="button" class="btn btn-success" onclick="addWorkout()">Add Workout</button>
  </div>
</div>



<script src="/js/difficulty.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/card.js"></script>
<script src="/js/onePath.js"></script>
