

<div class="bg-light">
    <h1>Premade Workouts</h1>
</div>

<button type="button" class="btn btn-primary btn-lg"id="difficutly" >Beginner</button>



<button type="button" class="btn btn-primary btn-lg" id="difficulty">Intermediate</button>



<button type="button" class="btn btn-primary btn-lg" id="difficulty">Expert</button>

<div id="chose-workout">
</div>





<script src="onePath.js"></script>

