<div class="bg-light">
    <h1>Premade Workouts</h1>
</div>


<p class="d-inline-flex gap-1">
  <a href="/exercisepicker" class="btn" role="button">Beginner</a>
</p>


<p class="d-inline-flex gap-1">
  <a href="/exercisepicker" class="btn" role="button">Intermediate</a>
</p>


<p class="d-inline-flex gap-1">
  <a href="/exercisepicker" class="btn" role="button">Expert</a>
</p>
<div class="row">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Push</h5>
    <p class="card-text">This targets your Chest, Triceps and Shoulders</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">DB incline bench 4x10</li>
    <li class="list-group-item">Tricep push down 3x12</li>
    <li class="list-group-item">Overhead shoulder press 4x8</li>
      <li class="list-group-item">Chest flys 3x12</li>
    <li class="list-group-item">Skull crushers 3x12</li>
    <li class="list-group-item">Lateral raises 3x12</li>
  </ul>
  </div>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Pull</h5>
    <p class="card-text">This targets your Back and Biceps</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Lat Pull Downs 4x12</li>
    <li class="list-group-item">Barbell Curls 4x8</li>
    <li class="list-group-item">Seated Rows 3x12</li>
      <li class="list-group-item">Hammer Curls 4x10</li>
    <li class="list-group-item">Bentover Rows 4x8</li>
    <li class="list-group-item">DB curls 3x12</li>
  </ul>
  </div>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Legs</h5>
    <p class="card-text">This targets your entire lower body</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Squats 4x12</li>
    <li class="list-group-item">Leg press 4x15</li>
    <li class="list-group-item">RDL's 3x12</li>
       <li class="list-group-item">Calf raises 3x20</li>
    <li class="list-group-item">Leg Extensions 3x10</li>
    <li class="list-group-item">Leg curls 4x12</li>
  </ul>
  
  </div>
</div>








