


<div class="bg-light">
    <h1>Premade Workouts</h1>
</div>


<p class="d-inline-flex gap-1">
  <a href="/exercisepicker" class="btn" role="button">Beginner</a>
</p>


<p class="d-inline-flex gap-1">
  <a href="/exercisepicker" class="btn" role="button">Intermediate</a>
</p>


<p class="d-inline-flex gap-1">
  <a href="/exercisepicker" class="btn" role="button">Expert</a>
</p>






<script src="preMade.js"></script>


