<div class="bg-light text-center">
<div class="row">
  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Push</h5>
      <p class="card-text">This targets your Chest, Triceps and Shoulders</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">DB incline bench 4x10</li>
      <li class="list-group-item">Tricep push down 3x12</li>
      <li class="list-group-item">Overhead shoulder press 4x8</li>
      <li class="list-group-item">Chest flys 3x12</li>
      <li class="list-group-item">Skull crushers 3x12</li>
      <li class="list-group-item">Lateral raises 3x12</li>
    </ul>
  </div>


  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Pull</h5>
      <p class="card-text">This targets your Back and Biceps</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Lat Pull Downs 4x12</li>
      <li class="list-group-item">Barbell Curls 4x8</li>
      <li class="list-group-item">Seated Rows 3x12</li>
      <li class="list-group-item">Hammer Curls 4x10</li>
      <li class="list-group-item">Bentover Rows 4x8</li>
      <li class="list-group-item">DB curls 3x12</li>
    </ul>
  </div>


  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Lower Body</h5>
      <p class="card-text">This targets your entire lower body</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Squats 4x12</li>
      <li class="list-group-item">Leg press 4x15</li>
      <li class="list-group-item">RDL's 3x12</li>
      <li class="list-group-item">Calf raises 3x20</li>
      <li class="list-group-item">Leg Extensions 3x10</li>
      <li class="list-group-item">Leg curls 4x12</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Full Upper Body</h5>
      <p class="card-text">This targets your entire lower body</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Bench 4x8</li>
      <li class="list-group-item">DB shoulder press 3x12</li>
      <li class="list-group-item">Barbell curls 4x10</li>
      <li class="list-group-item">DB incline bench 4x12</li>
      <li class="list-group-item">Shrugs 4x15</li>
      <li class="list-group-item">Tricep pushdowns 3x12</li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Cardio/Stretching</h5>
      <p class="card-text">This targets endurance and flexibility</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">20 minutes on treadmill</li>
      <li class="list-group-item">20 minutes on bike</li>
      <li class="list-group-item">15 minutes on stairs</li>
      <li class="list-group-item">Runners lunge to side stretch</li>
      <li class="list-group-item">Heel drop stretch</li>
      <li class="list-group-item">Knee to chest stretch</li>
    </ul>
  </div>
    <div class="card" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">Full Body</h5>
        <p class="card-text">This targets your entire body</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Squats 4x8</li>
        <li class="list-group-item">DB curls 3x12</li>
        <li class="list-group-item">Lateral raises 4x10</li>
        <li class="list-group-item">Pushdowns 3x12</li>
        <li class="list-group-item">Incline bench 4x8</li>
        <li class="list-group-item">Pull-ups 3x8</li>
      </ul>

    </div>


  </div>








