<div class="bg-light">
<h1> Profile Page</h1>

{{> profile-details}}

<div class="row mt-4 mb-4">
  <div class="col-md-6">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create a New Workout
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Workout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form">
      <div class="form-group">
        <label for="workout-title">Give your workout a name:</label><br>
        <input class="form-input" type="text" id="workout-title" name="workout-title" />
      </div>
      <div class="form-group">
        <label for="workout-content">List the exercises you completed:</label><br>
        <input class="form-input" type="text" id="workout-content" name="workout-content" />
      </div>
      <div class="form-group">
        <label for="workout-intensity">Choose an intensity level for your workout (1-10):</label>
        <input class="form-input" type="number" id="workout-intensity" name="workout-intensity" />
      </div>
      <div class="form-group mb-2">
        <label for="workout-duration">How long was your workout? (minutes):</label>
        <input class="form-input" type="number" id="workout-duration" name="workout-duration" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="workout-submit" data-bs-dismiss="modal">Create Workout Entry</button>
      </div>
    </form>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<script src="/js/profile.js"></script>