<div class="container">
  <div class="row">
    <div class="col-3">

      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Exercise</span>
        <input type="text" class="form-control" placeholder="Exercise Name" aria-label="Exercise Name"
          aria-describedby="addon-wrapping">
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Difficulty
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Beginner</a></li>
          <li><a class="dropdown-item" href="#">Intermediate</a></li>
          <li><a class="dropdown-item" href="#">Expert</a></li>
           <li><a class="dropdown-item" href="#">none</a></li>
        </ul>
        <span class="selected-option">none</span>
      </div>



      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Muscle
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Abdominals</a></li>
          <li><a class="dropdown-item" href="#">Abductors</a></li>
          <li><a class="dropdown-item" href="#">Adductors</a></li>
          <li><a class="dropdown-item" href="#">Biceps</a></li>
          <li><a class="dropdown-item" href="#">Calves</a></li>
          <li><a class="dropdown-item" href="#">Chest</a></li>
          <li><a class="dropdown-item" href="#">Forearms</a></li>
          <li><a class="dropdown-item" href="#">Glutes</a></li>
          <li><a class="dropdown-item" href="#">Hamstrings</a></li>
          <li><a class="dropdown-item" href="#">Lats</a></li>
          <li><a class="dropdown-item" href="#">Lower Back</a></li>
          <li><a class="dropdown-item" href="#">Middle Back</a></li>
          <li><a class="dropdown-item" href="#">Neck</a></li>
          <li><a class="dropdown-item" href="#">Quadriceps</a></li>
          <li><a class="dropdown-item" href="#">Traps</a></li>
          <li><a class="dropdown-item" href="#">Triceps</a></li>
           <li><a class="dropdown-item" href="#">none</a></li>
        </ul>
         <span class="selected-option">none</span>
      </div>


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Type
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Cardio</a></li>
          <li><a class="dropdown-item" href="#">Olympic Weightlifting</a></li>
          <li><a class="dropdown-item" href="#">Plyometrics</a></li>
          <li><a class="dropdown-item" href="#">Strength</a></li>
          <li><a class="dropdown-item" href="#">Powerlifting</a></li>
          <li><a class="dropdown-item" href="#">Stretching</a></li>
          <li><a class="dropdown-item" href="#">Strongman</a></li>
          <li><a class="dropdown-item" href="#">none</a></li>
           </ul>
         <span class="selected-option">none</span>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-primary">Search</button>
      </div>


      <div id="chosen-workout"></div>

    </div>
    <div class="col-9"></div>
  </div>

</div>

{{!--
<script src="../controllers/api/workoutRoutes.js"></script> --}}
<script src="/js/difficulty.js"></script>
<script src="/js/modal.js"></script>
